.container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  color: white;
  opacity: 0.8;
  text-align: center;
  padding: 40px 70px 0 70px;
}

.container p {
  font-size: 20px;
}

.skill {
  margin-top: 30px;
}
.container span {
  color: yellow;
  font-weight: 700;
  opacity: 1;
}
.skill .ability {
  color: #23c4ed;
  font-weight: 500;
}

.container .mern {
  color: #e03b8b;
  /* font-weight: 400; */
}

.container .exp {
  color: rgb(36 199 212);
  font-weight: 500;
}

/* responsive  */

@media screen and (max-width: 930px) {
  .container {
    text-align: left;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding: 40px 30px 0 30px;
  }
}

/* Social media */
.container2 {
  margin-top: 50px;
  display: flex;

  justify-content: center;
  gap: 40px;
}
.container2 img {
  width: 50px;
}
.container2 a:nth-child(1) img {
  filter: invert(100%);
}

.container3 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btn {
  border: none;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #ddd101;
  transition: all 0.6s;
  cursor: pointer;
}
.btn:hover {
  background-color: #ff4c29;
  font-weight: 600;
}
